{% for host in groups['all'] %}
{% if hostvars[host]['dnsmasq_dhcp_ip'] is defined %}
dhcp-host={{hostvars[host]['dnsmasq_dhcp_mac']}},{{hostvars[host]['dnsmasq_dhcp_ip']}},{{hostvars[host]['inventory_hostname_short']}}
{% endif %}
{% endfor %}
