listen-address={{dnsmasq_server_ip}}

dhcp-option={{dnsmasq_profile}},3,{{dnsmasq_server_ip}}

dhcp-option={{dnsmasq_profile}},6,{{dnsmasq_server_ip}}

dhcp-range={{dnsmasq_profile}},{{dnsmasq_dhcp_start_ip}},{{dnsmasq_dhcp_end_ip}}
